Source: pop-catppuccin-plymouth
Section: x11
Priority: optional
Maintainer: leggettc18 <chris@leggett.dev>
Build-Depends: debhelper (>= 10.5.1)
Standards-Version: 4.5.0

Package: pop-catppuccin-plymouth-themes
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label, plymouth-theme-spinner, pop-fonts
Description: graphical boot animation and logger
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains 4 splash themes for Plymouth based on the Pop!_OS
 Plymouth theme, one for each of catppuccin's 4 pallettes.
